
# Movement (can be prefixed with a number)
move_down           j
move_up             k
move_left           l
move_right          h
move_left           <right>
move_right          <left>

# You can select a piece of text and press the `add_highlight` shortcut followed by a symbol (a character from a-z) to highlight
# the text
add_highlight <C-h>

open_selected_url gx
